@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@media only screen and (min-width: 320px) {
  .title {
    font-family: poppins, sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 80%;
    margin-top: 37px;
    margin-bottom: 23px;
  }

  .bg {
    background: #fff;
    padding: 20px;
  }

  .skills {
    list-style: none;
    display: flex;
    font-weight: 300;
    font-size: 10.3334px;
    line-height: 80%;
    color: #1a2236;
    font-family: poppins, sans-serif;
    padding: 0;
    margin-bottom: 18px;
  }

  .skills-list {
    border: 1px solid #1a2236;
    margin-right: 10px;
    padding: 6px 10px 6px 10px;
  }

  .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 40px;
    font-weight: 100;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    color: #1a2236;
  }

  /* slide styling */
  * {
    box-sizing: border-box;
  }

  img {
    vertical-align: middle;
    margin-bottom: -1px;
  }

  .container {
    position: relative;
  }

  .mySlides {
    display: block;
  }

  .cursor {
    cursor: pointer;
  }

  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 37%;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    margin-left: 10px;
  }

  .next {
    right: 28px;
    border-radius: 3px 0 0 3px;
  }

  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  .row::after {
    content: "";
    display: table;
    clear: both;
  }

  .column {
    float: left;
    width: 25%;
  }

  .row {
    margin-bottom: 30px;
  }

  .active,
  .demo:hover {
    opacity: 1;
    border: 1.5px solid #1a2236;
  }

  .nxt-prv-cta {
    display: none;
  }

  .cta-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    font-family: poppins, sans-serif;
  }

  .cta-1 a {
    text-decoration: none;
    color: #1a2236;
    border: 1px solid #1a2236;
    width: 246px;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 20px;
  }

  .cta-1 a.source-code img {
    padding-left: 25px;
  }

  .cta-1 a.see-live img {
    padding-left: 50px;
  }

  .cta-1 a.see-live {
    margin-bottom: 30px;
  }

  .p-tag {
    font-family: Poppins, sans-serif;
    font-size: 18px;
  }

  a.see-live:hover {
    background: #1a2236;
    color: #fff;
  }

  a.source-code:hover {
    background: #1a2236;
    color: #fff;
  }

  .modal {
    display: block;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #fff;
    padding: 20px;
  }

  a.next > img {
        width: 50%;
        margin-top: 95px;
    }

    a.prev > img {
        width: 50%;
        margin-top: 95px;
    }
}

@media only screen and (min-width: 768px) {
  .modal {
    background: #1a2236;
    padding: 70px;
  }

  .main-div {
    background: #fff;
    padding: 60px;
  }

  .title {
    font-size: 60px;
  }

  .skills {
    font-size: 20px;
  }

  .skills-list {
    border: 1px solid #1a2236;
    margin-right: 10px;
    padding: 12px 20px;
  }

  .bottom-div {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .cta-1 {
    align-items: unset;
    flex-direction: row;
    margin-top: 40px;
  }

  a.source-code {
    margin-left: 30px;
  }

  .cta-1 a.see-live {
    margin-bottom: 0;
  }

  .nxt-prv-cta {
    display: flex;
    font-family: poppins, sans-serif;
    justify-content: space-between;
    margin-top: 90px;
  }

  .nxt-prv-cta a {
    text-decoration: none;
    color: #1a2236;
    font-weight: 300;
    font-size: 18px;
  }

  .nxt-prv-cta a.prv > img {
    margin-right: 18px;
  }

  .nxt-prv-cta > a.nxt > img {
    margin-left: 18px;
  }

  .close-button {
    font-size: 60px;
  }

  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 100%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    margin-right: 128px;
  }
}

@media only screen and (min-width: 1200px) {
  .bottom-div {
    width: 60%;
  }
}
