@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
  margin: 0;
  overflow-x: hidden;
}

@media only screen and (min-width: 320px) {
  .mySlides img {
    width: 100%;
  }

  .demo {
    width: 100%;
  }

  .msg-label {
    display: none;
  }

  .r2 {
    display: none;
  }

  .bg-img4 {
    display: none;
  }

  .f-img1 {
    display: none;
  }

  .f-img2 {
    display: none;
  }

  .p-img2 {
    display: none;
  }

  .p-img3 {
    display: none;
  }

  iframe {
    width: 100%;
    height: 300px;
  }

  .nav-list.menu-btn {
    display: block;
  }

  .img-menu-1 {
    background-image: url("./images/image_geometry_menu_1.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 140px;
    top: 0;
    z-index: -1;
  }

  .img-menu-2 {
    background-image: url("./images/image_geometry_menu_2.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 176px;
    bottom: 0;
  }

  .nav-list {
    display: none;
    position: fixed;
    z-index: 999;
    width: 100%;
    left: 0;
    top: 0;
    background: #fff;
    height: 100vh;
  }

  .m-list {
    margin-top: 190px;
  }

  a.menu-list {
    color: #1a2236;
    display: block;
    padding: 0.5em;
    font-size: 21px;
    text-align: center;
    font-family: poppins, sans-serif;
    font-weight: 400;
  }

  a.menu-list:hover {
    font-weight: 900;
  }

  .mobile-menu-x {
    float: right;
    margin: 20px 20px 20px 20px;
    cursor: pointer;
    z-index: 999;
  }

  a {
    text-decoration: none;
  }

  .more1 {
    display: none;
  }

  .mobile-menu {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
  }

  .header-img {
    background-image: url("./images/image_geometry_1.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 74px;
  }

  header {
    display: flex;
    justify-content: space-between;
    margin-right: 16px;
  }

  nav {
    margin-top: 19px;
    position: fixed;
    right: 16px;
    z-index: 999;
  }

  .headline-section {
    display: flex;
    flex-direction: column;
  }

  .container {
    padding: 0 16px 0 16px;
  }

  .tittle {
    font-family: Playfair Display, sans-serif;
    font-weight: 400;
    font-size: 50px;
    line-height: 100%;
    margin-bottom: 20px;
    margin-top: 56px;
    color: #1a2236;
  }

  .para {
    font-family: Poppins, sans-serif;
    font-size: 14px;
    letter-spacing: -0.01em;
    padding-right: 25px;
    color: #1a2236;
  }

  .cta {
    font-family: Poppins, sans-serif;
    margin-top: 32px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    width: 100%;
    background: #1a2236;
    font-size: 16px;
    padding: 12px 0 12px 0;
    color: #fff;
    border: none;
  }

  .cta:hover {
    background: none;
    border: 1px solid #1a2236;
    color: #1a2236;
  }

  .download {
    margin-left: 20px;
    width: fit-content;
  }

  .header-img2 {
    background-image: url("./images/image_geometry_2.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 188px;
  }

  .list {
    display: flex;
    padding-left: 0;
    list-style: none;
    margin: 0;
  }

  .project-container {
    font-family: Poppins, sans-serif;
    padding-left: 0;
  }

  .project-name {
    background: #1a2236;
    margin-top: -10px;
    padding-bottom: 20px;
  }

  .img {
    display: block;
    margin-top: -02px;
    width: 100%;
  }

  .project {
    display: grid;
  }

  .about-section {
    display: flex;
    flex-direction: column;
  }

  .about {
    display: grid;
  }

  .project-tittle {
    color: #fff;
    font-weight: 300;
    font-size: 20px;
    line-height: 80%;
    margin: 0;
    padding: 20px 0 16px 20px;
  }

  .t2 {
    margin-left: 16px;
  }

  .dots2 {
    display: none;
  }

  .project-link {
    background: #98dede;
    border: none;
    color: #1a2236;
    font-weight: 300;
    font-size: 10.3334px;
    line-height: 80%;
    padding: 6px 10px 6px 10px;
    margin: 0 10px 20px 0;
  }

  .project-skills {
    padding-left: 20px;
  }

  .project-button {
    color: #fff;
    display: flex;
    background: none;
    border: 1px solid #fff;
    height: 44px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 10px 10px 10px;
    margin-left: 20px;
  }

  .b2 {
    display: none;
  }

  .projects button span img {
    padding-left: 12px;
  }

  .project-button:hover {
    border: 2px solid #fff;
  }

  .back-groung {
    font-family: Poppins, sans-serif;
    width: 100%;
    height: 289px;
  }

  .profile-tittle {
    font-weight: 800;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    padding: 50px 0 0 50px;
  }

  .languages {
    background: #1c528a;
  }

  .bg-img {
    background-image: url("./images/ic_languages.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 36%;
    width: 102px;
    margin-top: -046px;
    margin-inline-start: auto;
  }

  .framework {
    background: #a71b27;
  }

  .img1 {
    background-image: url("./images/Group18.png");
    background-repeat: no-repeat;
    height: 33%;
    width: 95px;
    margin-top: -057px;
    margin-inline-start: auto;
  }

  .Skilss {
    background: #005c56;
  }

  .bg-img3 {
    background-image: url("./images/ic_skills.svg");
    background-repeat: no-repeat;
    height: 35%;
    width: 102px;
    margin-top: -062px;
    margin-inline-start: auto;
  }

  .profile-list {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.0525em;
    color: #fff;
    padding-left: 70px;
    display: flex;
    flex-direction: column;
  }

  .form-section {
    background: #f9f9fa;
    margin-top: 50px;
  }

  .form-container {
    display: flex;
    flex-direction: column;
  }

  .para2 {
    padding-right: 2px;
  }

  .float-container {
    border: solid 1px #525257;
    margin-bottom: 8px;
    border-radius: 4px;
    position: relative;
  }

  .float-container input {
    border: none;
    border-radius: 4px;
    font-size: 16px;
    outline: 0;
    height: 45px;
    color: #1a2236;
    padding-left: 16px;
    padding-top: 15px;
    box-sizing: border-box;
    width: 100%;
  }

  .float-container textarea {
    border: none;
    border-radius: 4px;
    font-size: 16px;
    outline: 0;
    color: #1a2236;
    padding-left: 16px;
    padding-top: 7px;
    box-sizing: border-box;
    width: 100%;
  }

  ::placeholder {
    font-family: Poppins, sans-serif;
    font-size: 14px;
  }

  label {
    position: absolute;
    transform-origin: top left;
    transform: translate(0, 16px) scale(1);
    transition: all 0.1s ease-in-out;
    font-family: Poppins, sans-serif;
    font-size: 10px;
    margin-top: -12px;
    margin-left: 16px;
    color: #7d7c84;
  }

  .float-container.active label {
    transform: translate(0, 4px) scale(0.75);
  }

  textarea:focus,
  textarea:hover,
  input:focus,
  input:hover {
    border: 1px solid #1a2236;
  }

  .footer-section {
    background: #1a2236;
    padding: 0 16px 0 16px;
  }

  .footer-container {
    width: 100%;
  }

  .get-resume {
    display: flex;
    padding-top: 15px;
  }

  .resume-img {
    margin-left: 15px;
  }

  .footer-tittle {
    font-family: Poppins, sans-serif;
    color: #92dcdc;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }

  .social-media {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 3px 40px 3px;
  }

  .footer-tittle:hover {
    font-weight: 600;
  }

  .social-link:hover {
    width: 30px;
  }

  a:hover {
    font-weight: bold;
  }
}

@media only screen and (min-width: 414px) {
  .header-img2 {
    height: 207px;
  }
}

@media only screen and (min-width: 1361px) {
  .r-space {
    padding-right: 0 !important;
  }

  .nav-list {
    display: flex;
    font-family: poppins, sans-serif;
    align-items: center;
    justify-content: center;
    height: 100px;
  }

  .nav-list.menu-btn {
    display: flex;
  }

  .mobile-menu-x {
    display: none;
  }

  .img-menu-1 {
    display: none;
  }

  .img-menu-2 {
    display: none;
  }

  .m-list {
    display: flex;
    justify-content: center;
    margin-top: 0;
  }

  a:hover {
    font-weight: bold;
  }

  .list {
    padding-right: 27px;
    margin-left: 30px;
  }

  header {
    justify-content: center;
    height: 100px;
    align-items: center;
    margin-right: 0;
  }

  nav {
    margin-top: 0;
  }

  .nav-list a {
    color: #1a2236;
    padding-right: 50px;
  }

  a.contact {
    padding-right: 0;
  }

  .container {
    padding: 0;
  }

  .p-skills {
    padding-left: 30px;
  }

  .mobile-menu {
    display: none;
  }

  .header-img {
    display: none;
  }

  .headline-section {
    flex-direction: row;
    padding-left: 160px;
  }

  .headline-words {
    width: 69%;
    height: auto;
    position: relative;
    padding-right: 92px;
  }

  .empty {
    width: 100%;
    height: 877px;
  }

  .big-bg {
    background-image: url(./images/image-geometry_1.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
  }

  .dot-positon {
    position: relative;
    display: flex;
    width: 100%;
    height: 785px;
  }

  .dots {
    background-image: url(./images/image_dots.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 150px;
    height: 170px;
    opacity: 0.75;
    right: 0;
    bottom: 0;
    position: absolute;
  }

  .header-img2 {
    display: none;
  }

  .tittle {
    font-size: 110px;
    line-height: 100%;
    margin-bottom: 60px;
  }

  .cta {
    width: 254px;
    height: 70px;
    font-size: 18px;
    margin-top: 59px;
    line-height: 27px;
    align-items: center;
  }

  .t1 {
    margin-top: 192px;
  }

  .p0 {
    display: none;
  }

  .img {
    margin-top: -04px;
  }

  .img-desktop5 {
    margin-top: 13px;
  }

  .pt1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 80%;
    padding: 60px 0 34px 60px;
  }

  .pl1 {
    height: 40px;
    font-weight: 300;
    font-size: 20px;
    line-height: 80%;
    display: flex;
    align-items: center;
    width: max-content;
    padding: 3px 20px 3px 20px;
    margin: 0 20px 60px 0;
  }

  .t2 {
    transform: rotate(270deg);
    padding: 0;
    margin: 0;
    margin-left: 252px;
    margin-top: -114px;
  }

  .dots2 {
    display: flex;
    background-image: url(./images/image_dots.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 160px;
    height: 160px;
    position: absolute;
    right: 20px;
    top: 0;
  }

  .dots-container {
    display: flex;
    position: relative;
    width: 480px;
  }

  .pb {
    height: 51px;
    font-size: 18px;
    padding: 12px 20px 12px 20px;
    margin-left: 60px;
  }

  .p1 {
    padding: 0;
    width: auto;
    height: 514px;
    position: relative;
  }

  .pt6 {
    font-weight: 700;
    font-size: 40px;
    padding: 30px 0 20px 30px;
  }

  .pb2 {
    margin-left: 0;
  }

  .p-img2 {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .p-img1 {
    display: flex;
    background-image: url(./images/image-geometry_2.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 330px;
  }

  .p-img2-1 {
    background-image: url(./images/image-geometry_5.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 212px;
    height: 125px;
  }

  .p-img2-2 {
    display: flex;
    background-image: url(./images/image-geometry_4.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 88px;
    height: 88px;
  }

  .p-img3 {
    display: flex;
    background-image: url(./images/image-geometry_3.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 250px;
    height: 175px;
    align-self: flex-end;
    margin-top: 26px;
  }

  .p-img3-1 {
    display: flex;
    background-image: url(./images/Shape.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 175px;
    height: 175px;
  }

  .p-img31 {
    display: flex;
    justify-content: flex-end;
  }

  .tile1 {
    display: flex;
  }

  .project-tittle {
    white-space: nowrap;
    width: 88%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .project-skills {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .img-desktop6 {
    margin-top: 0;
  }

  article {
    position: relative;
  }

  .pm1 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    margin-top: 0;
    padding-bottom: 0;
  }

  .p2 {
    display: flex;
    align-items: flex-end;
  }

  .p6 {
    align-items: normal;
  }

  .p3 {
    width: 735px;
    height: 426px;
  }

  .p4 {
    top: 48px;
  }

  .p5 {
    width: 100%;
  }

  .project-name {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 0.5s ease;
  }

  .p1:hover .pm1 {
    height: 353px;
  }

  .pm2 {
    padding-bottom: 0;
  }

  .p2:hover .pm2 {
    height: 200px;
  }

  .p3:hover .pm2 {
    height: 340px;
  }

  .pt3 {
    font-weight: 700;
    font-size: 60px;
    padding: 60px 20px 34px 30px;
  }

  .pl3 {
    height: 40px;
    font-weight: 300;
    font-size: 20px;
    line-height: 80%;
    display: flex;
    align-items: center;
    width: max-content;
    padding: 3px 20px 3px 20px;
    margin: 0 20px 60px 0;
  }

  .img-desktop2 {
    width: 462px;
  }

  .about-section {
    flex-direction: row-reverse;
    padding: 0 160px 0 160px;
    margin-top: 730px;
  }

  .about-cta {
    width: 446px;
  }

  .bg-img4 .bg-img4-1 {
    background-image: url(./images/image_dots_with_teal.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 222px;
    height: 222px;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .bg-img4 {
    position: relative;
    display: flex;
  }

  .profile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 60%;
    margin-right: 96px;
  }

  .project-button {
    margin-left: 60px;
  }

  .pb31 {
    margin-left: 30px;
  }

  .pl2 {
    height: 40px;
    font-weight: 300;
    font-size: 20px;
    line-height: 80%;
    display: flex;
    align-items: center;
    width: max-content;
    padding: 2px 15px 2px 15px;
    margin: 0 15px 15px 0;
  }

  .more {
    display: none;
  }

  .more-1 {
    display: flex;
  }

  .more0 {
    display: none;
  }

  .para {
    padding-right: 0;
  }

  .para2 {
    margin-bottom: 60px;
  }

  .bg-img {
    margin-top: -73px;
  }

  .img1 {
    margin-top: -93px;
  }

  .bg-img3 {
    margin-top: -99px;
  }

  .form-container {
    width: 548px;
    margin: 0 auto;
  }

  .get-cv {
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 132px;
  }

  .form-section {
    margin-top: 150px;
  }

  .name-email {
    display: flex;
    justify-content: space-between;
    margin-bottom: 42px;
  }

  .fc {
    width: 254px;
    height: 60px;
  }

  label {
    font-size: 12px;
    transform: translate(0, 0) scale(1);
    margin-top: -22px;
    margin-left: 0;
  }

  .msg-label {
    display: unset;
  }

  .float-container input {
    height: 60px;
    padding-top: 0;
    padding-left: 20px;
  }

  .t3 {
    margin-top: 168px;
    margin-bottom: 40px;
  }

  .f-img1 {
    display: flex;
    background-image: url(./images/image-geometry_6.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 263.06px;
    height: 350.84px;
    position: absolute;
  }

  .f-img2 {
    display: flex;
    background-image: url(./images/image-geometry_7.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 364.75px;
    height: 370.84px;
    position: absolute;
    right: 0;
    margin-top: 628px;
  }

  .footer-section {
    padding: 48px 160px 48px 160px;
  }

  .footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .get-resume {
    padding-top: 0;
    width: 100%;
    margin-right: 680px;
    align-items: end;
  }

  .social-media {
    width: 100%;
    margin-top: 0;
    padding: 0;
  }

  .r2 {
    display: flex;
  }

  .r1 {
    display: none;
  }

  /****** grid ************/

  .wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    justify-items: stretch;
    align-items: stretch;
    margin-top: 210px;
  }

  .wrap1 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-auto-rows: minmax(100px, auto);
    justify-items: stretch;
    align-items: stretch;
    width: 1366px;
  }

  .wrap2 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-auto-rows: minmax(100px, auto);
    justify-items: stretch;
    align-items: stretch;
  }

  .wrapper > div {
    height: 516px;
  }

  .m1 {
    grid-column: 1/3;
    grid-row: 1/4;
    width: 465px;
  }

  .m2 {
    grid-column: 3/5;
    grid-row: 1/4;
    margin-bottom: -60px;
  }

  .m8 {
    grid-column: 5/7;
    grid-row: 1/3;
    height: max-content;
    margin-bottom: -14px;
  }

  .m7 {
    grid-column: 5/7;
    grid-row: 3/5;
    align-self: start;
  }

  .m3 {
    grid-column: 1/4;
    grid-row: 4/7;
  }

  .m4 {
    grid-column: 4/7;
    grid-row: 5/7;
    flex-direction: column-reverse;
  }

  .m6 {
    grid-column: 1/4;
    grid-row: 7/9;
  }

  .m5 {
    grid-column: 4/6;
    grid-row: 7/9;
  }
}

@media only screen and (min-width: 1440px) {
  .nav-list {
    display: flex;
    font-family: poppins, sans-serif;
    align-items: center;
    justify-content: center;
    height: 100px;
  }

  .r-space {
    padding-right: 0 !important;
  }

  .nav-list.menu-btn {
    display: flex;
  }

  .mobile-menu-x {
    display: none;
  }

  .img-menu-1 {
    display: none;
  }

  .img-menu-2 {
    display: none;
  }

  .m-list {
    display: flex;
    justify-content: center;
    margin-top: 0;
  }

  a:hover {
    font-weight: bold;
  }

  .list {
    padding-right: 27px;
    margin-left: 30px;
  }

  header {
    justify-content: center;
    height: 100px;
    align-items: center;
    margin-right: 0;
  }

  nav {
    margin-top: 0;
  }

  .nav-list a {
    color: #1a2236;
    padding-right: 50px;
  }

  a.contact {
    padding-right: 0;
  }

  .container {
    padding: 0;
  }

  .p-skills {
    padding-left: 30px;
  }

  .mobile-menu {
    display: none;
  }

  .header-img {
    display: none;
  }

  .headline-section {
    flex-direction: row;
    padding-left: 160px;
  }

  .headline-words {
    width: 69%;
    height: auto;
    position: relative;
    padding-right: 92px;
  }

  .empty {
    width: 100%;
    height: 877px;
  }

  .big-bg {
    background-image: url(./images/image-geometry_1.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
  }

  .dot-positon {
    position: relative;
    display: flex;
    width: 100%;
  }

  .dots {
    background-image: url(./images/image_dots.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 175px;
    height: 175px;
    opacity: 0.75;
    right: 0;
    bottom: 0;
    position: absolute;
  }

  .header-img2 {
    display: none;
  }

  .tittle {
    font-size: 110px;
    line-height: 100%;
    margin-bottom: 60px;
  }

  .cta {
    width: 254px;
    height: 70px;
    font-size: 18px;
    margin-top: 59px;
    line-height: 27px;
    align-items: center;
  }

  .t1 {
    margin-top: 192px;
  }

  .p0 {
    display: none;
  }

  .img {
    margin-top: -04px;
  }

  .pt1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 80%;
    padding: 60px 0 34px 60px;
  }

  .pl1 {
    height: 40px;
    font-weight: 300;
    font-size: 20px;
    line-height: 80%;
    display: flex;
    align-items: center;
    width: max-content;
    padding: 3px 20px 3px 20px;
    margin: 0 20px 60px 0;
  }

  .t2 {
    transform: rotate(270deg);
    padding: 0;
    margin: 0;
    margin-left: 252px;
    margin-top: -114px;
  }

  .dots2 {
    display: flex;
    background-image: url(./images/image_dots.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 160px;
    height: 160px;
    position: absolute;
    right: 20px;
    top: 0;
  }

  .dots-container {
    display: flex;
    position: relative;
    width: 480px;
  }

  .pb {
    height: 51px;
    font-size: 18px;
    padding: 12px 20px 12px 20px;
    margin-left: 60px;
  }

  .p1 {
    padding: 0;
    width: 960px;
    height: 558px;
    position: relative;
  }

  .pt6 {
    font-weight: 700;
    font-size: 40px;
    padding: 30px 0 20px 30px;
  }

  .pb2 {
    margin-left: 0;
  }

  .p-img2 {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .p-img1 {
    display: flex;
    background-image: url(./images/image-geometry_2.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 330px;
  }

  .p-img2-1 {
    background-image: url(./images/image-geometry_5.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 212px;
    height: 125px;
  }

  .p-img2-2 {
    display: flex;
    background-image: url(./images/image-geometry_4.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 88px;
    height: 88px;
  }

  .p-img3 {
    display: flex;
    background-image: url(./images/image-geometry_3.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 313px;
    height: 175px;
    align-self: flex-end;
  }

  .p-img3-1 {
    display: flex;
    background-image: url(./images/Shape.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 175px;
    height: 175px;
  }

  .p-img31 {
    display: flex;
    justify-content: flex-end;
  }

  .tile1 {
    display: flex;
  }

  .project-tittle {
    white-space: nowrap;
    width: 88%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .project-skills {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .img-desktop6 {
    margin-top: 0;
  }

  article {
    position: relative;
  }

  .pm1 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    margin-top: 0;
    padding-bottom: 0;
  }

  .p2 {
    display: flex;
    align-items: flex-end;
  }

  .p6 {
    align-items: normal;
  }

  .p3 {
    width: 800px;
    height: 465px;
  }

  .p4 {
    top: 50px;
  }

  .p5 {
    width: 100%;
  }

  .project-name {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 0.5s ease;
  }

  .p1:hover .pm1 {
    height: 353px;
  }

  .pm2 {
    padding-bottom: 0;
  }

  .p2:hover .pm2 {
    height: 200px;
  }

  .p3:hover .pm2 {
    height: 340px;
  }

  .pt3 {
    font-weight: 700;
    font-size: 60px;
    padding: 60px 20px 34px 30px;
  }

  .pl3 {
    height: 40px;
    font-weight: 300;
    font-size: 20px;
    line-height: 80%;
    display: flex;
    align-items: center;
    width: max-content;
    padding: 3px 20px 3px 20px;
    margin: 0 20px 60px 0;
  }

  .img-desktop2 {
    width: 462px;
  }

  .about-section {
    flex-direction: row-reverse;
    padding: 0 160px 0 160px;
    margin-top: 730px;
  }

  .about-cta {
    width: 446px;
  }

  .bg-img4 .bg-img4-1 {
    background-image: url(./images/image_dots_with_teal.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 222px;
    height: 222px;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .bg-img4 {
    position: relative;
    display: flex;
  }

  .profile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 60%;
    margin-right: 96px;
  }

  .project-button {
    margin-left: 60px;
  }

  .pb31 {
    margin-left: 30px;
  }

  .pl2 {
    height: 40px;
    font-weight: 300;
    font-size: 20px;
    line-height: 80%;
    display: flex;
    align-items: center;
    width: max-content;
    padding: 2px 15px 2px 15px;
    margin: 0 15px 15px 0;
  }

  .more {
    display: none;
  }

  .more-1 {
    display: flex;
  }

  .more0 {
    display: none;
  }

  .para {
    padding-right: 0;
  }

  .para2 {
    margin-bottom: 60px;
  }

  .bg-img {
    margin-top: -73px;
  }

  .img1 {
    margin-top: -93px;
  }

  .bg-img3 {
    margin-top: -99px;
  }

  .form-container {
    width: 548px;
    margin: 0 auto;
  }

  .get-cv {
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 132px;
  }

  .form-section {
    margin-top: 150px;
  }

  .name-email {
    display: flex;
    justify-content: space-between;
    margin-bottom: 42px;
  }

  .fc {
    width: 254px;
    height: 60px;
  }

  label {
    font-size: 12px;
    transform: translate(0, 0) scale(1);
    margin-top: -22px;
    margin-left: 0;
  }

  .msg-label {
    display: unset;
  }

  .float-container input {
    height: 60px;
    padding-top: 0;
    padding-left: 20px;
  }

  .t3 {
    margin-top: 168px;
    margin-bottom: 40px;
  }

  .f-img1 {
    display: flex;
    background-image: url(./images/image-geometry_6.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 263.06px;
    height: 350.84px;
    position: absolute;
  }

  .f-img2 {
    display: flex;
    background-image: url(./images/image-geometry_7.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 350.75px;
    height: 350.84px;
    position: absolute;
    right: 0;
    margin-top: 628px;
  }

  .footer-section {
    padding: 48px 160px 48px 160px;
  }

  .footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .get-resume {
    padding-top: 0;
    width: 100%;
    margin-right: 680px;
    align-items: end;
  }

  .social-media {
    width: 100%;
    margin-top: 0;
    padding: 0;
  }

  .r2 {
    display: flex;
  }

  .r1 {
    display: none;
  }

  /****** grid ************/

  .wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    justify-items: stretch;
    align-items: stretch;
    margin-top: 210px;
  }

  .wrap1 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-auto-rows: minmax(100px, auto);
    justify-items: stretch;
    align-items: stretch;
  }

  .wrap2 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-auto-rows: minmax(100px, auto);
    justify-items: stretch;
    align-items: stretch;
    height: 514px;
  }

  .wrapper > div {
    height: 558px;
  }

  .m1 {
    grid-column: 1/3;
    grid-row: 1/4;
    width: 465px;
  }

  .m2 {
    grid-column: 3/5;
    grid-row: 1/4;
  }

  .m8 {
    grid-column: 5/7;
    grid-row: 1/3;
    height: max-content;
    margin-bottom: -14px;
  }

  .m7 {
    grid-column: 5/7;
    grid-row: 3/5;
  }

  .m3 {
    grid-column: 1/4;
    grid-row: 4/7;
  }

  .m4 {
    grid-column: 4/7;
    grid-row: 5/7;
    flex-direction: column-reverse;
  }

  .m6 {
    grid-column: 1/4;
    grid-row: 7/9;
  }

  .m5 {
    grid-column: 4/6;
    grid-row: 7/9;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1360px) {
  .nav-list.menu-btn {
    display: flex;
  }

  .r-space {
    padding-right: 0 !important;
  }

  .nav-list {
    display: flex;
    font-family: poppins, sans-serif;
    align-items: center;
    justify-content: center;
    height: 100px;
  }

  .mobile-menu-x {
    display: none;
  }

  .img-menu-1 {
    display: none;
  }

  .img-menu-2 {
    display: none;
  }

  .m-list {
    display: flex;
    justify-content: center;
    margin-top: 0;
  }

  .list {
    padding-right: 27px;
    margin-left: 30px;
  }

  header {
    justify-content: center;
    height: 100px;
    align-items: center;
    margin-right: 0;
  }

  nav {
    margin-top: 0;
  }

  .nav-list a {
    color: #1a2236;
    padding-right: 50px;
  }

  a.contact {
    padding-right: 0;
  }

  .container {
    padding: 0;
  }

  .p-skills {
    padding-left: 0;
  }

  .mobile-menu {
    display: none;
  }

  .header-img {
    display: none;
  }

  .headline-section {
    flex-direction: row;
    padding-left: 85px;
  }

  .headline-words {
    width: 45%;
    height: auto;
    position: relative;
    padding-right: 55px;
  }

  .empty {
    width: 100%;
    height: 616px;
  }

  .big-bg {
    background-image: url(./images/image-geometry_1.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
  }

  .dot-positon {
    position: relative;
    display: flex;
    width: 100%;
  }

  .dots {
    background-image: url(./images/image_dots.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 120px;
    height: 120px;
    opacity: 0.75;
    right: 0;
    bottom: 0;
    position: absolute;
  }

  .header-img2 {
    display: none;
  }

  .tittle {
    font-size: 89px;
    line-height: 100%;
    margin-bottom: 30px;
  }

  .cta {
    width: 212px;
    height: 60px;
    font-size: 16px;
    margin-top: 40px;
    line-height: 27px;
    align-items: center;
  }

  .t1 {
    margin-top: 88px;
  }

  .p0 {
    display: none;
  }

  .img {
    margin-top: -04px;
  }

  .pt1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 80%;
    padding: 30px 0 34px 30px;
  }

  .pl1 {
    height: 40px;
    font-weight: 300;
    font-size: 20px;
    line-height: 80%;
    display: flex;
    align-items: center;
    width: max-content;
    padding: 3px 20px 3px 20px;
    margin: 0 20px 22px 0;
  }

  .t2 {
    transform: rotate(270deg);
    padding: 0;
    margin: 0;
    margin-left: 115px;
    margin-top: -44px;
  }

  .dots2 {
    display: flex;
    background-image: url(./images/image_dots.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 125px;
    height: 125px;
    position: absolute;
    right: 20px;
    top: 0;
  }

  .dots-container {
    display: flex;
    position: relative;
    width: 396px;
  }

  .pb {
    height: 51px;
    font-size: 18px;
    padding: 12px 20px 12px 20px;
    margin-left: 60px;
  }

  .p1 {
    padding: 0;
    width: 628px;
    height: 366px;
    position: relative;
  }

  .pt6 {
    font-weight: 700;
    font-size: 30px;
    padding: 20px 0 20px 20px;
  }

  .pb2 {
    margin-left: 0;
  }

  .p-img2 {
    display: flex;
    width: 95%;
    justify-content: space-between;
  }

  .p-img1 {
    display: flex;
    background-image: url(./images/image-geometry_2.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 235px;
  }

  .p-img2-1 {
    background-image: url(./images/image-geometry_5.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 212px;
    height: 125px;
  }

  .p-img2-2 {
    display: flex;
    background-image: url(./images/image-geometry_4.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 88px;
    height: 88px;
  }

  .p-img3 {
    display: flex;
    background-image: url(./images/image-geometry_3.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
    height: 175px;
    margin-right: 0;
    align-self: flex-end;
  }

  .p-img3-1 {
    display: flex;
    background-image: url(./images/Shape.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 175px;
    height: 175px;
  }

  .p-img31 {
    display: flex;
    justify-content: flex-end;
  }

  .tile1 {
    display: flex;
  }

  .project-tittle {
    white-space: nowrap;
    width: 88%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .project-skills {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .img-desktop6 {
    margin-top: 0;
  }

  article {
    position: relative;
  }

  .pm1 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    margin-top: 0;
    padding-bottom: 0;
  }

  .p2 {
    display: flex;
    align-items: flex-end;
  }

  .p6 {
    align-items: normal;
  }

  .p3 {
    width: 554px;
    height: 309px;
  }

  .p4 {
    top: -025px;
    left: -030px;
  }

  .p5 {
    width: 100%;
  }

  .project-name {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 0.5s ease;
  }

  .p1:hover .pm1 {
    height: 230px;
  }

  .pm2 {
    padding-bottom: 0;
  }

  .p2:hover .pm2 {
    height: 185px;
  }

  .p3:hover .pm2 {
    height: 340px;
  }

  .pt3 {
    font-weight: 700;
    font-size: 60px;
    padding: 60px 20px 34px 30px;
  }

  .pl3 {
    height: 40px;
    font-weight: 300;
    font-size: 20px;
    line-height: 80%;
    display: flex;
    align-items: center;
    width: max-content;
    padding: 3px 20px 3px 20px;
    margin: 0 20px 60px 0;
  }

  .img-desktop2 {
    width: 462px;
  }

  .about-section {
    flex-direction: row-reverse;
    padding: 0 85px 0 85px;
    margin-top: 540px;
  }

  .about-cta {
    width: 246px;
  }

  .bg-img4 .bg-img4-1 {
    background-image: url(./images/image_dots_with_teal.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 222px;
    height: 222px;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .bg-img4 {
    position: relative;
    display: flex;
  }

  .profile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    margin-right: 66px;
  }

  .project-button {
    margin-left: 20px;
  }

  .pb31 {
    margin-left: 30px;
  }

  .pl2 {
    height: 30px;
    font-weight: 300;
    font-size: 13px;
    line-height: 80%;
    display: flex;
    align-items: center;
    width: max-content;
    padding: 0 15px 0 15px;
    margin: 0 10px 10px 0;
  }

  .more {
    display: none;
  }

  .more-1 {
    display: flex;
  }

  .more0 {
    display: none;
  }

  .para {
    padding-right: 0;
  }

  .para2 {
    margin-bottom: 60px;
  }

  .bg-img {
    margin-top: -73px;
  }

  .img1 {
    margin-top: -93px;
  }

  .bg-img3 {
    margin-top: -99px;
  }

  .form-container {
    width: 548px;
    margin: 0 auto;
  }

  .get-cv {
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 132px;
  }

  .form-section {
    margin-top: 150px;
  }

  .name-email {
    display: flex;
    justify-content: space-between;
    margin-bottom: 42px;
  }

  .fc {
    width: 254px;
    height: 60px;
  }

  label {
    font-size: 12px;
    transform: translate(0, 0) scale(1);
    margin-top: -22px;
    margin-left: 0;
  }

  .msg-label {
    display: unset;
  }

  .float-container input {
    height: 60px;
    padding-top: 0;
    padding-left: 20px;
  }

  .t3 {
    margin-top: 168px;
    margin-bottom: 40px;
  }

  .f-img1 {
    display: flex;
    background-image: url(./images/image-geometry_6.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 263.06px;
    height: 225.84px;
    position: absolute;
  }

  .f-img2 {
    display: flex;
    background-image: url(./images/image-geometry_7.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 202.75px;
    height: 234.84px;
    position: absolute;
    right: 0;
    margin-top: 760px;
  }

  .footer-section {
    padding: 48px 80px 48px 80px;
  }

  .footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .get-resume {
    padding-top: 0;
    width: 100%;
    margin-right: 400px;
    align-items: end;
  }

  .social-media {
    width: 100%;
    margin-top: 0;
    padding: 0;
  }

  .r2 {
    display: flex;
  }

  .r1 {
    display: none;
  }

  /****** grid ************/

  .wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    justify-items: stretch;
    align-items: stretch;
    margin-top: 115px;
  }

  .wrap1 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-auto-rows: minmax(100px, auto);
    justify-items: stretch;
    align-items: stretch;
  }

  .wrap2 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-auto-rows: minmax(100px, auto);
    justify-items: stretch;
    align-items: stretch;
  }

  .wrapper > div {
    height: 364px;
  }

  .m1 {
    grid-column: 1/3;
    grid-row: 1/4;
    width: 395px;
  }

  .m2 {
    grid-column: 3/5;
    grid-row: 1/4;
  }

  .m8 {
    grid-column: 5/7;
    grid-row: 1/3;
    height: max-content;
    margin-bottom: -13px;
  }

  .m7 {
    grid-column: 5/7;
    grid-row: 3/5;
    margin-top: 185px;
  }

  .m3 {
    grid-column: 1/4;
    grid-row: 4/7;
  }

  .m4 {
    grid-column: 4/7;
    grid-row: 5/7;
    flex-direction: column-reverse;
  }

  .m6 {
    grid-column: 1/4;
    grid-row: 7/9;
  }

  .m5 {
    grid-column: 4/6;
    grid-row: 7/9;
  }
}
