@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

@media only screen and (min-width: 320px) {
  body {
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  .header {
    display: flex;
    justify-content: space-between;
    margin-right: 16px;
  }

  .headline-section {
    padding: 0 16px 0 16px;
  }

  .headline {
    font-family: Playfair Display, sans-serif;
    font-weight: 400;
    font-size: 50px;
    line-height: 100%;
    color: #1a2236;
  }

  .para {
    font-family: Poppins, sans-serif;
    font-size: 14px;
    letter-spacing: -0.01em;
    color: #1a2236;
  }

  .Start-collaboration {
    font-family: Poppins, sans-serif;
    background: #1a2236;
    width: 288px;
    height: 50px;
    font-size: 16px;
    color: #fff;
  }

  .button {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 32px;
  }

  .art {
    width: 100%;
  }
}
